p {
    background: red;
    color: white;
    padding: 10px;
    margin: 0;
    line-height: 50px;
    height: 50px;
    text-align: center;
    font-family: "arial";
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}